.box__input {
    padding-top: 30px;
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
    display: none;
}

#actions {
    position: absolute;
    float: right;
    left: 1050px;
    width: 500px;
    height: 50px
}