#canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.stats {
    position: absolute;
    left: 67%;
    width: 500px;
    height: 50px;
}

#video {
    position: absolute;
    width: 1000px;
    height: 500px;
}

#startstream {
    position: absolute;
    top: 70%;
    width: 120px;
    height: 50px;
}

#stopstream {
    position: absolute;
    top: 70%;
    left: 9%;
    width: 120px;
    height: 50px;
}

#calltoid {
    position: absolute;
    top: 70%;
    left: 18%;
    width: 120px;
    height: 45px;
}

#submitcalltoid {
    position: absolute;
    top: 70%;
    left: 27%;
    width: 120px;
    height: 50px;
}

#myVideoStreamHidden {
    position: absolute;
    top: 80%;
    left: 4.5%;
}